section {
	width: 300px;
	height: 500px;
	border: 1px solid red;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -220px;
	transition: 0.5s;

	article {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;

		> .inner {
			width: 100%;
			height: 100%;
			background: #fff;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			opacity: 0.5;
			border-radius: 10px;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

			.pic {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				overflow: hidden;
				margin-bottom: 20px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			h2 {
				width: 100%;
				text-align: center;
			}
		}
	}
}

.prev {
	display: block;
	width: 50px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
}
.next {
	display: block;
	width: 50px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -300px;
}
